/*====
 GRAY
 ====*/
$Color--gray-800: #141416;
$Color--gray-700: #23262F;
$Color--gray-600: #353945;
$Color--gray-500: #777E91;
$Color--gray-400: #B1B5C3;
$Color--gray-300: #E6E8EC;
$Color--gray-200: #F4F5F6;
$Color--gray-100: #FCFCFD;

/*====
 PRIMARY
 ====*/
$Color--primary-yellow: #FFC737;
$Color--primary-blue: #3772FF;
$Color--primary-pink: #9757D7;
$Color--primary-orange: #FF6838;
$Color--primary-green: #58BD7D;

/*====
 SECONDARY
 ====*/
$Color--secondary-yellow: #FFD166;
$Color--secondary-blue: #4BC9F0;
$Color--secondary-200: #E4D7CF;
$Color--secondary-100: #CDB4DB;

$Color--white: #FFF;