$Font-Gilroy--bold: 'Gilroy-Bold', sans-serif;
$Font-Gilroy--heavy: 'Gilroy-Heavy', sans-serif;
$Font-Gilroy--light: 'Gilroy-Light', sans-serif;
$Font-Gilroy: 'Gilroy-Medium', sans-serif;
$Font-Gilroy--regular: 'Gilroy-Regular', sans-serif;
$Font-Roboto: 'Roboto', sans-serif;
$Font-Poppins: 'Poppins', sans-serif;
